html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #161616;
  overflow: hidden;
  cursor: url("cursor.png"), auto !important;
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Cosi Azure";
  font-size: 100px;
}

.img {
  position: absolute;
  width: 400px;
  height: 500px;
  transition-timing-function: ease-out;
}

.img-1 {
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 1000ms;
}

.img-2 {
  background: url(img-2.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 800ms;
}

.img-3 {
  background: url(img-3.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 600ms;
}

.img-4 {
  background: url(img-4.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 400ms;
}

.img-5 {
  background: url(img-5.jpg) no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 200ms;
}
